<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añadir Serie</title>
    <link rel="stylesheet" href="../static/anadir_serie.css">
</head>
<body>
    <h1>En esta página podrás añadir series que te gusten o que hayas visto</h1>

    <form action="{{ url_for('anadir_serie') }}" method="post">
        <input type="text" name="nombreSerie" id="nombreSerie" placeholder="Nombre de la serie" required><br><br>
        <textarea name="sinopsiSerie" id="sinopsiSerie" placeholder="Escriba la sinopsis de la serie" maxlength="400" required></textarea><br><br>
        <input type="number" name="notaSerie" id="notaSerie" placeholder="Nota que le das" min="1" max="10" required><br><br>
        <input type="text" name="generoSerie" id="generoSerie" placeholder="Género de la serie" required><br><br>
        <label for="fechaSerie">Fecha de la serie: </label>
        <input type="date" name="fechaSerie" required><br><br>
        <input type="number" name="temporadaSerie" id="temporadaSerie" placeholder="Numeros de temporadas de la serie" required><br><br>
        <input type="number" name="episodioSerie" id="episodioSerie" placeholder="Numeros de capitulos de la serie" required><br><br>
        <select name="categoria" required>
            <option value="megustariaver">Series que me gustaria ver</option>
            <option value="estoyviendo">Series que estoy viendo</option>
            <option value="hevisto">Series que he visto</option>
        </select><br><br>
        <button type="submit">Añadir serie</button>
    </form>
</body>
</html>